[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo.git
[submodule "themes/doks"]
	path = themes/doks
	url = https://github.com/h-enk/doks.git
[submodule "themes/zen"]
	path = themes/zen
	url = https://github.com/frjo/hugo-theme-zen.git
[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap.git
